# frozen_string_literal: true

RSpec.describe "{KJ|GEM_NAME} shim" do
  it "loads the replacement gem" do
    expect(require("{KJ|SHIMMED_REQUIRE}")).to be(false).or be(true)
  end

  it "loads the primary compatibility require path" do
    expect(require("{KJ|ENTRYPOINT_REQUIRE}")).to be(false).or be(true)
  end

  it "has a shim gem version" do
    expect(Gem.loaded_specs.fetch("{KJ|GEM_NAME}").version.to_s).not_to be_empty
  end
end
