# frozen_string_literal: true

Gem::Specification.new do |spec|
  spec.name = "{KJ|GEM_NAME}"
  spec.version = "{KJ|GEM_VERSION}"
  spec.authors = {KJ|AUTHOR:NAMES}
  spec.email = ["{KJ|AUTHOR:EMAIL}"]

  spec.summary = "{KJ|GEMSPEC_PACKAGE_SUMMARY}"
  spec.description = "{KJ|GEM_NAME} is a compatibility shim for {KJ|SHIMMED_GEM_NAME}."
  spec.homepage = "{KJ|README:GH_REPOSITORY_URL}"
  spec.licenses = ["MIT"]
  spec.required_ruby_version = ">= {KJ|MIN_RUBY}"

  spec.metadata["homepage_uri"] = "{KJ|HOMEPAGE_URI}"
  spec.metadata["source_code_uri"] = "#{spec.homepage}/tree/v#{spec.version}"
  spec.metadata["changelog_uri"] = "#{spec.homepage}/blob/v#{spec.version}/CHANGELOG.md"
  spec.metadata["bug_tracker_uri"] = "#{spec.homepage}/issues"
  spec.metadata["documentation_uri"] = "https://www.rubydoc.info/gems/#{spec.name}/#{spec.version}"
  spec.metadata["mailing_list_uri"] = "{KJ|RUBYFORUM:URL}"
  spec.metadata["rubygems_mfa_required"] = "true"

  spec.files = Dir.glob("lib/**/*.rb") + %w[
    CHANGELOG.md
    LICENSE.md
    README.md
  ].select { |path| File.exist?(path) }
  spec.require_paths = ["lib"]

  spec.add_dependency "{KJ|SHIMMED_GEM_NAME}"

  # Dev, Test, & Release Tasks
  spec.add_development_dependency("kettle-dev", "~> 3.0", ">= 3.0.7")             # ruby >= {KJ|MIN_TEST_RUBY}

  # Tasks
  spec.add_development_dependency "rake", "~> 13.0"

  # Testing
  spec.add_development_dependency("kettle-test", "~> 2.0", ">= 2.0.20")            # ruby >= {KJ|MIN_TEST_RUBY}
  spec.add_development_dependency "rspec", "~> 3.12"

  # Releasing
  spec.add_development_dependency("ruby-progressbar", "~> 1.13")                    # ruby >= 0
  spec.add_development_dependency("stone_checksums", "~> 1.0", ">= 1.0.8")          # ruby >= 2.2.0
end
